.avatar {
    height: 30px; 
    width: 30px; 
    border-radius: 50%;
    object-fit: cover; 
    margin-left: auto; 
    border: 2px solid whitesmoke; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }

  .priorityLabel {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .icon {
    width: 16px; 
    height: 16px;
    background-color: white ;
    border: none;
  }
  

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  max-width: 400px;
  max-height: 140px; /* Fixed height */
  height: 150px; /* Ensure constant size */
  overflow: hidden; /* Prevent overflow */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  border: 1px solid whitesmoke;
}

.nafl{
  border: 1px solid whitesmoke;
  background-color: white;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background-color: white;

}

.headerText {
  font-weight: bold;
  margin-right: 8px;
  color: #a3a2a2;
  background-color: white;

}

.statusBubble {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: auto;
}

.content {
  text-align: left;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


.title {
  font-size: 16px;
  color:  #a3a2a2;
  margin-bottom: 8px;
  color: rgb(62, 62, 62);
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  background-color: white;
}

.featureRequestButton {
  position: absolute;
  left:13%;
  border: 1px solid rgb(239, 239, 239);
  top: -40%;
  background-color: white;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 14px;
  color:  #a3a2a2;
  border-radius: 6%;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}
.dot{
  background-color:  #a3a2a2;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  position: absolute;
  z-index: 1;
  left: 14.5%;
  top: 20%;

}
.inside{
  display: flex;
  position:relative;
  background-color: white;

  overflow: hidden; /* Prevent overflow */
  white-space: nowrap; /* Ensure contents stay in one line */
}